body{
    font-family: 'Montserrat';
    background-color: #302D40;
}


section{
    margin-bottom: 50px;
}

/* navbar */
.navbar {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 115px;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    margin-left: 60px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FFCD4B;
}
.navbar-light .navbar-nav .active > .nav-link {
    color: #FFCD4B;
}
/* end navbar */

/* list-artist */
    /* artist */
    #list-artist .title-artist{
        margin-top: 100px;
    }
    #list-artist .title-artist h3, h4{
        font-weight: bold;
        font-size: 80px;
        line-height: 90%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFCD4B;
    }
    #list-artist .title-artist h4{
        margin-left: 200px;
    }
    #list-artist #artist{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    #list-artist #artist .artist-content{
        margin-bottom: 30px;
        width: 540px;
        height: 300px;
    }
    #list-artist #artist .artist-content{
        position: relative;
    }

    #list-artist #artist .artist-content .artist-content-text{
        position: absolute;
        top: 60%;
        text-shadow: 1px 1px  black;
    }
    #list-artist #artist .artist-content .artist-content-text p{
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #E6E6E6;
        margin-top: 10px;
    }
    #list-artist #artist .artist-content .artist-content-text h4{
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: -10px;
    }
    /* end */
/* end */

/* footer */
footer{
    background-color: #23202B;
    color: #ffffff !important;
    padding-top: 50px;
}
footer .fa{
    width: 28px;
    height: 20px;
    margin-right: 10px;
}
footer h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 10px;
}
footer p{
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 30px;
}
footer h4{
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 29px;
}
footer .col-md-6{
    float: right;
}
footer .copyright{
    text-align: right;
    margin-top: 200px;
}
/* end */